* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 2500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	background-color: blue;
}

header {
	width: 100%;
	height: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: navy;
	color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 1000px;
	padding-bottom: 50px;
}

.topline {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 2.55% 0;
}

.left {
	display: flex;
	width: 50%;
	justify-content: flex-start;
	align-items: center;
	margin-left: 10%;
}

.right {
	display: flex;
	width: 50%;
	justify-content: flex-end;
	align-items: center;
	color: blue;
	font-size: 20px;
	margin-right: 10%;
	
}

.mainpic {
	display: flex;
	justify-content: center;
	width: 100%;
}

.mainpic img {
	width: 950px;
	height: 400px;
}

.middlepics, .middletext {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 2.5%;
	font-size: 14px;
	line-height: 25px;
}

.textleft, .textcenter, .textright {
	width: 30%;
	margin: 0;
}

.middletext p {
	margin: 0;
}

.maintext {
	padding: 2.5%;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
	text-align: center;
}

.video img {
	width: 950px;
}

footer {
	width: 1000px;
	color: white;
	font-size: 11px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}